<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
    <title>Hao's {{age}}th Party</title>
    <link href="common-css/ionicons.css" rel="stylesheet">

    <link rel="stylesheet" href="common-css/jquery.classycountdown.css"/>

    <link href="css/styles.css" rel="stylesheet">

    <link href="css/responsive.css" rel="stylesheet">
    <script src="js/moment-with-locales.min.js"></script>

</head>
<body>

<div class="main-area-wrapper" style="background-image:url({{imagebg}});">
    <div class="main-area center-text">
        <div class="display-table">
            <div class="display-table-cell">
                <h4 class="desc font-white" style="font-size:40px"><b>Hi, {{name}}</b></h4>
                <p class="desc font-white">You are invited to join us for </p>

                <h3 class="desc font-white" style="font-weight: bold; font-size:50px">Hao's {{age}}th Party</h3>
                <h5 class="title" id="time-sn"></h5>
                <h6 class="title" style="margin-top: 5px"> 218 Kham Thien Street, Ha Noi, Viet Nam, 100000</h6>
                <div id="normal-countdown" data-date="{{year}}/06/01"></div>
                <ul class="social-btn">
                    <li><a target="_blank" href="https://www.facebook.com/haoht95"><i
                            class="ion-social-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/HoangTranHao"><i
                            class="ion-social-twitter"></i></a></li>
                    <li><a target="_blank" href="https://about.me/haohoangtran"><i
                            class="ion-social-googleplus"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/haohoangtran"><i
                            class="ion-social-instagram-outline"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script src="common-js/jquery-3.1.1.min.js"></script>

<script src="common-js/jquery.countdown.min.js"></script>

<script src="common-js/scripts.js"></script>

</body>
</html>